@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LEE's Online Shop</h1>
    <p class="lead">Now Under Construction. </p>
    <p class="lead">Check out function is not implemented yet.</p>
    <p class="lead">One bug is now fixing: if you click Cart to go to shopping cart directly, Continue Shopping does'n work.</p>
</div>

